extends ../web/components/webLayout.pug
block content
    section(class="h-[800px] mx-auto container flex justify-center items-center ")
        div(class="flex flex-col w-[350px] justify-center items-center gap-5")
            if user
                p(class="text-lg lg:text-2xl font-bold text-center dark:text-secondary-light text-secondary-dark uppercase") 
                    | <b class="text-primary">#{user.name}</b> confirmaste tu cuenta correctamente
                 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-36 h-36 dark:text-secondary-light text-secondary-dark">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z" />
                </svg>
            else
                p(class="text-2xl dark:text-secondary-light text-secondary-dark font-bold") Token no válido
                a( href=route('/') class="text-primary hover:underline") Ir a inicio